.container {
  max-width: 100%; /* Ensures the container doesn't exceed the viewport width */
  width: auto; /* Allows the container to shrink to fit its content */
  margin: 0 auto; /* Centers the container horizontally */
}

img {
  max-width: 100%; /* Ensures the image doesn't exceed the container width */
  height: auto; /* Allows the image to scale proportionally with width */
  flex-shrink: 2;
  margin-bottom: 5px;
  border: solid 1px white;
}

@media (min-width: 60px) {
  .container {
    max-width: 600px; /* Limits the container's maximum width to 600px */
  }
}


body {background-image: url(https://github.com/ch99sy/ColemanHawkins/blob/main/Background.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:scroll;}

h1 {font-size: 50px;}

h2 {font-size: 36px;}

p {font-size: 24px;}

a {color: lightgrey;}

a:hover {text-decoration: none;}

a:active {opacity: 0.5;
text-decoration: none;}

p, h2, h1 {text-align: center;
color:aliceblue;}

body {background-color: #335279;
margin: 0;
padding: 0;}

.first, .second, .third, .fourth, #fifth {border: solid 1px blanchedalmond;}

.first {max-width: 100%;}
  
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px; /* Initially hide the sidebar */
    background-color: #333;
    padding-top: 20px;
    transition: left 0.3s ease; /* Add transition for left property */
}

video {margin: auto;}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  button {color: white;
background-color: black;}


.toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; /* Ensure the button is above other elements */
  }

  .sidebar.visible {
    left: 0; /* Show the sidebar when .visible class is added */
}

.content.visible {
    margin-left: 200px; /* Adjust this to the width of your sidebar */
}

.iframe-container {
  display: flex;
  justify-content: center;
  max-width: 100%; /* Ensures the container doesn't exceed the viewport width */
  width: auto; /* Allows the container to shrink to fit its content */
  
}

iframe { border: solid 1px white; margin: 5px;}

h2, h4, p, h1 {font-family: 'DM Serif Display', didot, serif;
font-weight: 300;}
